<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The 2015 University of Chicago Scavenger Hunt List</title>

<!-- <link rel="stylesheet" type="text/css" href="/static/common/base.css"/> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
<script src="/static/scavlist/viewlist.js"></script>

</head>
<body>
<div id="error-msg"></div>

<h2>The 2015 University of Chicago Scavenger Hunt List</h2>

<div id="item-details" hidden="true"></div>
<div id="the-list"></div>
</body>
</html>
